{{!-- hero --}}

<section class="hero has-background">
  {{!-- tried putting as hero background --}}
  {{!-- {{#each movies as |movie|}}
  <img class="hero-background background is-transparent" src="https://image.tmdb.org/t/p/w500/{{poster_path}}">
  {{/each}} --}}

  {{!-- hero swiwper --}}

  <div class="hero-body">
     {{!-- Slider main container  --}}
    <div class="swiper swiper1">
       {{!-- Additional required wrapper  --}}
      <div class="swiper-wrapper">
        {{!-- Slides  --}}
        {{#each movies as |movie|}}
        <div class="swiper-slide has-text-centered has-background">
          {{!-- backgorund img --}}
          <img class="swiper-background background is-transparent" src="https://image.tmdb.org/t/p/w500/{{poster_path}}">
          {{!-- movie img --}}
          <img src="https://image.tmdb.org/t/p/w500/{{poster_path}}">
        </div>
        {{/each}}
      </div>
       {{!-- pagination  --}}
      <div class="swiper-pagination swiper-pagination1"></div>

       {{!-- navigation buttons  --}}
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

      {{!-- scrollbar  --}}
      <div class="swiper-scrollbar swiper-scrollbar1"></div>
    </div>
  </div> 
</section>


{{!-- css for slider.. needs to go in seperate file --}}
<style>
.swiper-slide{
position: relative
overflow: hidden
}
.swiper-background{
position: absolute
object-fit: cover
object-position: center center
width: 100%
height: 100%
}
.is-transparent{
opacity: 0.5;
}
</style>

{{!-- movies swiper --}}

<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    {{#each movies as |movie|}}
      <div class="swiper-slide">
        <img src="https://image.tmdb.org/t/p/w342/{{poster_path}}">
        <p>{{original_title}}</p>
      </div>
    {{/each}}
  </div>
  <div class="swiper-pagination"></div>
</div>

 


{{!-- search-results --}}
{{#if movieSearchResults.length}} 
<h3>search results</h3>
{{#each movieSearchResults as |movie|}}
<p>{{id}}</p>
<p>{{original_title}}</p>
<p>{{overview}}</p>
<img src="https://image.tmdb.org/t/p/w500/{{poster_path}}">
{{/each}}
{{/if}}



{{!-- {{#each movies as |movie|}}
<p>{{id}}</p>
<p>{{original_title}}</p>
<p>{{overview}}</p>
<img src="https://image.tmdb.org/t/p/w500/{{poster_path}}">
{{/each}} --}}

<script src="/js/home.js"></script>

