{{!-- hero --}}

<section class="hero has-background">
  {{!-- tried putting as hero background --}}
  {{!-- {{#each movies as |movie|}}
  <img class="hero-background background is-transparent" src="https://image.tmdb.org/t/p/w500/{{poster_path}}">
  {{/each}} --}}

  {{!-- hero swiwper --}}

  <div class="hero-body">
     {{!-- Slider main container  --}}
    <div class="swiper swiper1">
       {{!-- Additional required wrapper  --}}
      <div class="swiper-wrapper">
        {{!-- Slides  --}}
        {{#each movies as |movie|}}
        <div class="swiper-slide has-text-centered has-background swiper-container">
          {{!-- backgorund img --}}
          <img class=" img1 swiper-background background is-transparent" src="https://image.tmdb.org/t/p/w1280/{{backdrop_path}}">
          {{!-- movie img --}}
          <img id="movieImage" class="img2" src="https://image.tmdb.org/t/p/w500/{{poster_path}}">
        </div>
        {{/each}}
      </div>
       {{!-- pagination  --}}
      <div class="swiper-pagination swiper-pagination1"></div>

       {{!-- navigation buttons  --}}
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

      {{!-- scrollbar  --}}
      <div class="swiper-scrollbar swiper-scrollbar1"></div>
    </div>
  </div> 
</section>

{{!-- render search data if user searched --}}
{{#if movieSearchResults.length}} 
<h1 class="title" ><b>Search results:</b></h1>
{{#each movieSearchResults as |movie|}}
<div class="footer is-ancestor">
  <div class="is-7 is-vertical is-parent">
    <div class="has-text-centered tile is-child box">
       <img src="https://image.tmdb.org/t/p/w154/{{poster_path}}">
          <p class="is-size-3">{{original_title}}</p>
          <p class="is-size-4">{{overview}}</p>
          <button id="movieInput">Review Me!</button>
    </div>
  </div>
</div>
{{/each}}
{{/if}}


{{!-- movies swiper --}}

<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    {{#each movies as |movie|}}
      <div class="swiper-slide">
        <img id="movieImage" src="https://image.tmdb.org/t/p/w342/{{poster_path}}">
        <p>{{original_title}}</p>
      </div>
    {{/each}}
  </div>
  <div class="swiper-pagination"></div>
</div>


<style>
.swiper-slide{
position: relative
overflow: hidden
}
.swiper-background{
object-fit: cover
object-position: center center
width: 100%
height: 100%
}
.is-transparent{
opacity: 0.5;
}

.img1{
  position: absolute
display: block;
z-index: 1;
}
.img2{
position: absolute
display: block;
z-index: 2;
right: 100px;
}
.movie-card {
align-items: center;
}
</style>


{{!-- movies render data
{{#each movies as |movie|}}
<p>{{id}}</p>
<p>{{original_title}}</p>
<p>{{overview}}</p>
<img src="https://image.tmdb.org/t/p/w500/{{poster_path}}">
{{/each}} --}}



{{!-- search-results data --}}
{{!-- {{#if movieSearchResults.length}} 
<h3>search results</h3>
{{#each movieSearchResults as |movie|}}
<p>{{id}}</p>
<p>{{original_title}}</p>
<p>{{overview}}</p>
<img src="https://image.tmdb.org/t/p/w500/{{poster_path}}">
{{/each}}
{{/if}} --}}

<script src="/js/home.js"></script>

