{{!-- render search data if user searched --}}
<div class="hero is-dark is-fullheight">
  <div class="hero-body is-7 is-vertical is-parent">
    <div class=" tile is-child box">
      {{#each movies as |movie| }}
      <h1 class="is-size-2 has-text-centered" ><b>{{original_title}}</b></h1>
        <img id="movieImage" src="https://image.tmdb.org/t/p/w342/{{poster_path}}">
      {{/each}}
          <p class="is-size-4"><b>Reviews:</b></p>
          <article class="message is-info">
          {{#each reviews as |review| }}
            <div class="message-body">
              <p>{{user.name}}</p>
              <p>{{reivew.date_created}}</p>
              <p>{{review.content}}</p>
            </div>
            {{/each}}
          </article>
           <article class="message is-info">
            <div class="message-body">
              actual past reviews
            </div>
          </article>
          <div class="field">
            <div class="control">
              <textarea class="textarea is-info" placeholder="Your movie review"></textarea>
              <button class="button is-normal is-responsive is-info is-outlined">Post</button>
              <button class="button is-normal is-responsive is-info is-outlined">Update</button>
              <button class="button is-normal is-responsive is-info is-outlined">Delete</button>
            </div>
        </div>
    </div>
  </div>
</div>
